/* 头部 */

body {
    position: relative;
}

header {
    min-height: 100px;
    width: 100%;
}

.header-box-wrap {
    background-color: #f5f5f5;
}

.header-box {
    width: 1190px;
    margin: 0 auto;
}

.header-left {
    float: left;
}

.header-left li {
    float: left;
    line-height: 35px;
    color: #666666;
}

.header-right {
    float: right;
}

.header-right li {
    float: left;
    line-height: 35px;
    color: #666666;
}

.header-left .return-index a .icon-fangzi {
    font-size: 16px;
    color: #666666;
    line-height: 35px;
    margin-right: 3px;
}

.return-index span {
    color: #666666;
}

.header-left .return-index {
    padding-left: 0;
}

.header-box li {
    padding: 0 10px;
}

.header-box li .iconfont {
    font-size: 12px;
    line-height: 35px;
    margin-left: 3px;
}

.header-right li {
    padding: 0 10px;
}

#cartimg {
    margin-right: 7px;
}

#cartLi {
    padding: 0 5px;
}


/* 搜索框 */

.search-box {
    width: 1190px;
    height: 110px;
    margin: 0 auto;
}

.logo {
    width: 400px;
    float: left;
}

.logo img {
    display: inline-block;
    width: 190px;
    height: 100px;
}

.logo div {
    width: 66px;
    height: 24px;
    margin: 48px 107px 0 0;
    float: right;
    background-color: #FFAA00;
    border-radius: 12px;
}

.logo .focus-f {
    color: #ffffff;
    line-height: 24px;
    float: right;
    margin-right: 8px;
}

.focus {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url(../img/focus.png);
    margin: 4px 4px 3px 10px;
}

.seek-box {
    float: left;
}

.seek {
    width: 550px;
    height: 36px;
    margin-top: 30px;
    border: solid 2px #E42E3C;
    position: relative;
}

.seek-img {
    display: inline-block;
    width: 28px;
    height: 36px;
    line-height: 36px;
    /* font-size: 28px; */
}

.seek-input {
    display: inline-block;
    width: 420px;
    height: 36px;
}

.seek-word {
    display: inline-block;
    width: 98px;
    height: 36px;
    background-color: #E42E3C;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.seek-under {
    margin-top: 10px;
}

.seek-under li {
    float: left;
    margin: 0 4px;
    color: #999999;
}

.seek-under li a {
    color: #999999;
}

.seek-under li:nth-child(1) {
    margin-left: 0;
}

.erweima {
    width: 236px;
    height: 100%;
    float: right;
    position: relative;
}

.erweima img {
    position: absolute;
    top: 22px;
    left: 80px;
}


/* 导航 */

.nav-box {
    width: 1190px;
    height: 38px;
    margin: 0 auto;
}

.classify {
    width: 240px;
    color: #ffffff;
    line-height: 38px;
    background-color: #e42e3c;
    font-weight: bold;
    float: left;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.classify span {
    line-height: 38px;
    line-height: 1;
    padding: 0 5px;
}

.classify-list {
    margin-left: 12px;
    float: left;
}

.classify-list a {
    font-size: 14px;
    color: #333333;
    line-height: 38px;
    padding: 0 20px;
}

.classify-list a:hover {
    color: #E42E3C;
}

.classify-list span {
    color: #cccccc;
}


/* 广告轮播图区域 */

.banner-slider {
    width: 1190px;
    height: 438px;
    /* background-color: #FFAA00; */
    margin: 0 auto;
}

.banner-img-box {
    position: relative;
    height: 438px;
}

.banner-img-box img {
    position: absolute;
    top: 0;
    left: -375px;
}

.toggle-btn-l {
    display: inline-block;
    width: 30px;
    height: 60px;
    background-color: #000000;
    opacity: .2;
    background: url(../img/sptt.png)-184px -62px no-repeat;
    position: absolute;
    top: 190px;
    left: 250px;
    cursor: pointer;
    z-index: 10;
}

.toggle-btn-r {
    display: inline-block;
    width: 30px;
    height: 60px;
    background-color: #000000;
    opacity: .2;
    background: url(../img/sptt.png)-184px 0 no-repeat;
    position: absolute;
    right: 195px;
    top: 190px;
    cursor: pointer;
    z-index: 10;
}

.toggle-btn span:hover {
    opacity: .5;
}

.slider-num {
    width: 120px;
    height: 12px;
    position: absolute;
    bottom: 15px;
    left: 535px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider-num span {
    width: 22px;
    height: 4px;
    background-color: #b64a39;
    cursor: pointer;
    opacity: .7;
}

.slider-num .num-white {
    background-color: #ffffff;
}

#slider {
    height: 100%;
}

#slider img {
    cursor: pointer;
}

.shopping-classify {
    width: 240px;
    height: 438px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

.shopping-classify .classify-box {
    width: 240px;
    /* height: 70px; */
    display: inline-block;
}

.shopping-classify dl:nth-child(6) {
    border: none;
    border-bottom: solid 1px #cccccc;
    margin: 0 auto;
}

.classify-box {
    height: 72px;
    border-bottom: solid 1px #cccccc;
}

.box1>em {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 18px;
    margin-left: 12px;
    background: url(../img/chaoshi.png)-1035px -26px no-repeat;
}

.classify-box>dl {
    padding-left: 40px;
    /* padding-top: 20px; */
}

.classify-box dl dt {
    margin: 17px 0 7px;
}

.classify-box dl dt a {
    color: #333333;
    font-weight: bold;
    padding-right: 10px;
}

.classify-box dl dt em {
    width: 8px;
    height: 13px;
    float: right;
    margin-top: 1px;
    margin-right: 13px;
    background: url(../img/chaoshi.png)-905px -26px no-repeat;
}

.classify-box:hover>em {
    background: url(../img/chaoshi.png)-1060px 0px no-repeat;
}

.classify-box:hover>dl a {
    color: #ffffff !important;
}

.classify-box:hover>dl em {
    background: url(../img/chaoshi.png)-905px 0px no-repeat;
}

.classify-box dl dd a {
    line-height: 17px;
    padding-right: 10px;
    color: #666666;
}

.classify-item {
    width: 948px;
    height: 437px;
    background-color: #ffffff;
    position: absolute;
    left: 240px;
    top: 0;
    border: solid 1px #cccccc;
    border-bottom: none;
    display: none;
}

.classify-box:hover {
    background-color: #E42E3C;
    border-bottom: solid 1px #E42E3C;
}

.classify-box:hover .classify-item {
    display: block;
    z-index: 10;
}

.classify-left,
.classify-center {
    width: 180px;
    padding: 0 30px;
    float: left;
    border-right: solid 1px #cccccc;
    margin-top: 10px;
    height: 410px;
}

.classify-right {
    padding-left: 30px;
    float: left;
    margin-top: 10px;
    width: 180px;
}

.classify-item dl dt {
    line-height: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #cccccc;
}

.classify-item dl dt:hover {
    color: #E42E3C;
    cursor: pointer;
}

.classify-item li dl dd a {
    display: inline-block;
    color: #686868;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1;
}

.classify-item dd span {
    padding: 0 6px;
    color: #686868;
}

.classify-item dd a:hover {
    color: #e42e3c;
}

.headline {
    width: 182px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.headline-top {
    width: 182px;
    height: 190px;
    background: url(../img/sptt.png)no-repeat;
    margin: 10px 0;
}

.headline-top ul {
    width: 166px;
    height: 71px;
    position: absolute;
    top: 95px;
    left: 8px;
}

.headline-top ul li {
    position: relative;
}

.headline-top ul li a {
    display: inline-block;
    width: 153px;
    color: #444444;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 11px;
}

.headline-top ul li em {
    float: left;
    width: 3px;
    height: 3px;
    background-color: #cccccc;
    position: absolute;
    left: 0;
    top: 11px;
}

.headline-top ul li:hover a {
    color: #E42E3C;
}

.headline-top ul li:hover em {
    background-color: #E42E3C;
}

.headline-bottom {
    width: 212px;
    height: 218px;
    position: relative;
}

.headline-bottom img {
    position: absolute;
    top: 0;
    left: 0;
}

.logo>div {
    cursor: pointer;
}

.drop {
    position: relative;
}

.drop:hover .droplist {
    display: block;
}

.drop .droplist {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 36px;
    background-color: #ffffff;
    width: 988px;
    border: solid 1px #dddddd;
    display: none;
}

.droplist dl {
    width: 176px;
    float: left;
    margin: 20px 0 20px 20px;
    border-right: solid 1px #cccccc;
}

.droplist dl dt {
    color: #333333;
    line-height: 17px;
    height: 25px;
}

.drop dl dd p {
    float: left;
    padding-right: 35px;
}

.drop dl dd p a {
    color: #666666;
    line-height: 25px;
}

.drop dl dd p a:hover {
    color: #ff6600;
}

.drop ul {
    position: absolute;
    top: 36px;
    left: 0;
    width: 162px;
    border: solid 1px #cccccc;
    padding: 8px 0 8px 10px;
    background-color: #ffffff;
    display: none;
}

.drop:hover>ul {
    display: block;
    z-index: 10;
}

.drop ul li a {
    display: inline-block;
    width: 65px;
}

.header-box>ul>li>span:hover {
    color: #ff6600;
}

.header-box>ul>li>a:hover {
    color: #ff6600 !important;
}

.imp:hover span {
    color: #ff6600 !important;
}

.icon-search {
    color: #cccccc;
}

.icon-yemian-copy-copy-copy {
    font-size: 16px !important;
    padding-right: 3px;
    color: #666666 !important;
}

.red {
    color: #E42E3C !important;
}

.s3 {
    color: #666666 !important;
}

.origen {
    color: #ff6600 !important;
}

.seek-box form {
    position: relative;
}

.seek-drop {
    width: 100%;
    height: 225px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 40px;
    border: solid 1px #e4e4e4;
    z-index: 10;
    box-sizing: border-box;
}

.seek-default {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.seek-left {
    float: left;
    border-right: solid 1px #e4e4e4;
    width: 275px;
    height: 223px;
}

.seek-left h3 {
    line-height: 28px;
    font-size: 12px;
    color: #999999;
    background-color: #EEEEEE;
    padding-left: 12px;
}

.seek-right {
    width: 276px;
    float: left;
    height: 223px;
}


/* .rightside {
    width: 35px;
    height: 100%;
    background-color: #333333;
    position: absolute;
    top: 0;
    right: 0;
} */